body {  
    background-color: #808080;  
}

h1 {
    color: white;
}

.example {
    width: 150px;
    height: 150px;
    background-color: #fea500;
}

.example1 {
    width: 150px;
    height: 150px;
    background-color: #fea500;
}

.example2 {
    width: 150px;
    height: 150px;
    background-color: #fea500;
}

.example3 {
    width: 150px;
    height: 150px;
    background-color: #fea500;
}